@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root{
    --main-bg-color: #264653;
    --secondary-color: #2a9d8f;
    --tertiary-color: #e76f51;
    --text-color: #e9c46a;
    --secondary-text-color: #f4a261;
    --font-family: 'Caveat Brush', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.back{
    width: 7.5%;
    height: 7.5%;
    background-color: var(--tertiary-color);
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1% 1% 0 0;
    z-index: 2;
    user-select: none;
    transition: right 0.25s ease-in-out,
                background-color 0.25s ease-in-out;
    color: black;
}

.back:hover{
    right: 0.75%;
    background-color: var(--text-color);
}

.back p{
    background-color: transparent;
    left: 40%;
    position: absolute;
    font-size: 20px;
}

body{
    font-family: var(--font-family);
    text-align: center;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

img{
    position: absolute;
    top: 0;
    right: 1%;
    transform: scale(0.4);
}

.element p,
.table p,
.orbital p{
    color: white;
    text-align: left;
    margin-left: 0.5%;
    width: 50%;
}

.element h1,
.table h1,
.orbital h1{
    color: var(--text-color);
}

.element .data{
    top: 10%;
    right: 0;
    width: 60%;
    position: absolute;
    transform: scale(0.6);
}

.table .table{
    right: 0;
    top: 40%;
    width: 60%;
    position: absolute;
    transform: scale(0.45);
}

.orbital .orbital{
    right: 0;
    top: 75%;
    width: 60%;
    position: absolute;
    transform: scale(0.5);
}

.Pauli p,
.Hunds p,
.Aufbau p{
    color: white;
    text-align: center;
    margin-left: 0.5%;
    margin-bottom: 1%;
}

.Pauli h1,
.Hunds h1,
.Aufbau h1{
    color: var(--text-color);
}

.layout,
.principles{
    color: var(--secondary-text-color);
    font-size: 50px;
}